<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico"/>
    <title>Work</title>
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

<div class="container-fluid">
    <div class="page-header text-center">
        <h2>Example Page Header</h2>
    </div>
    <form class="form-horizontal" name="work" >
        <div class="form-group">
            <label class="control-label col-sm-2">Issues on JIRA : </label>
            <div class="col-sm-10">
                <input class="form-control" type="text">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Description and Time Effort : </label>
            <div class="col-sm-10">
                <input class="form-control" type="textarea">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Date : </label>
            <div class="col-sm-10">
                <input class="form-control" type="date">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input class="btn" type="submit">
            </div>
        </div>
    </form>
</div>


</body>
</html>-->
